.container {
    display: flex;
    justify-content: center;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
  }
  
  .left-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .right-content {
    flex: 2;
  }
  .smaller-image {
    max-width: 200px; /* Adjust the max-width as needed */
  }
  
  .larger-text {
    font-size: 18px; /* Adjust the font size as needed */
  }