
.store-container {
    background-image: url('https://as1.ftcdn.net/v2/jpg/06/16/32/56/1000_F_616325659_BOYDbtlbIaa7g2s81HfulxujPcPLZHbj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
